@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Suez+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #fad961;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(218, 57, 43);
}

section {
  background-color: rgb(232, 232, 232);
}

.navbar-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 0 100px;
  transform: translateY(-60px);
  animation: navbarAnimation 2s forwards;
  animation-delay: 0s;
  background: none;
  opacity: 0;
  position: fixed;
  z-index: 5000;
}
.navbar-container a {
  text-decoration: none;
}
@keyframes navbarAnimation {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.navbar-container .home {
  width: 166px;
  height: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(218, 57, 43);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kaushan Script", cursive;
  font-size: x-large;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.navbar-container .navbar-links {
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 10px gray;
}
.navbar-container .navbar-links a {
  font-size: large;
  text-decoration: none;
  color: black;
  width: 100px;
  height: 60px;
  background-color: white;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  transition: 0.4s;
  text-align: center;
}
.navbar-container .navbar-links a:hover {
  background-color: rgb(218, 57, 43);
  color: white;
}
.navbar-container .navbar-links :first-child {
  border-bottom-left-radius: 10px;
}
.navbar-container .navbar-links :nth-child(5) {
  border-bottom-right-radius: 10px;
}

.first-Section {
  width: 100%;
  height: 800px;
  background-image: url(../assets/c837a6_aa803204cef842e0b9ad7d820e64f77c~mv2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.first-Section .main-content-container {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-Section .main-content-container .main-text-container {
  width: 90%;
  height: 500px;
  font-family: "Open Sans", sans-serif;
  animation: maintextAnimation 2s forwards;
  opacity: 0;
}
@keyframes maintextAnimation {
  100% {
    opacity: 1;
  }
}
.first-Section .main-content-container .main-text-container h1 {
  font-size: 80px;
  font-family: "Suez One", serif;
  color: rgb(39, 36, 67);
}
.first-Section .main-content-container .appsDownloadContainer img {
  cursor: pointer;
}

.secondSection {
  width: 100%;
  height: 500px;
}
.secondSection .secondSectionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  transform: translateY(-170px);
}
.secondSection .secondSectionContainer .card {
  overflow: hidden;
  border-radius: 30px;
  width: 400px;
  height: 533px;
  cursor: pointer;
  position: relative;
}
.secondSection .secondSectionContainer .card .cardbg {
  transition: 0.6s;
}
.secondSection .secondSectionContainer .card img {
  transition: 1s;
}
.secondSection .secondSectionContainer .card:hover img {
  transform: scale(110%);
}
.secondSection .secondSectionContainer .card:hover .cardbg {
  opacity: 0;
}
.secondSection .secondSectionContainer .card .cardbg {
  width: 100%;
  height: 533px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(220, 20, 60, 0.7058823529) 100%);
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
}
.secondSection .secondSectionContainer .last {
  background-color: #fad961;
  background-image: linear-gradient(180deg, #fad961 25%, #f76b1c 100%);
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  transition: 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none;
  color: black;
}
.secondSection .secondSectionContainer .last:hover {
  background-color: #fad961;
  background-image: linear-gradient(180deg, #fad961 25%, #fad961 100%);
  font-size: 40px;
}
.secondSection .secondSectionContainer .gameScroll {
  text-decoration: none;
}

.aboutSection {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.aboutSection .abouttextContant {
  width: 900px;
  height: 600px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  opacity: 0;
  transition: 1s;
}
.aboutSection .abouttextContant h1 {
  font-family: "Suez One", serif;
  font-size: 50px;
  color: rgb(39, 36, 67);
}
.aboutSection .abouttextContant p {
  font-size: 18px;
}
.aboutSection .abouttextContant .aboutLearnMoreButton {
  width: 142px;
  height: 60px;
  font-family: "Suez One", serif;
  font-size: large;
  background-color: rgb(218, 57, 43);
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  transition: 0.6s;
  cursor: pointer;
}
.aboutSection .abouttextContant .aboutLearnMoreButton:hover {
  color: black;
  border: 1px solid black;
  background: none;
}
.aboutSection .picContainer {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}
.aboutSection .picContainer .stickerMain {
  border-radius: 10px;
}
.aboutSection .picContainer .sticker {
  position: absolute;
  left: 0;
  bottom: 10px;
}

.our-games-section {
  width: 100%;
  height: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
}
.our-games-section .games-text-container {
  text-align: center;
}
.our-games-section .games-text-container h1 {
  font-size: 50px;
  color: rgb(39, 36, 67);
  font-family: "Suez One", serif;
}
.our-games-section .games-text-container p {
  font-size: 18px;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.our-games-section .games-card-container {
  width: 1500px;
  height: 1200px;
  background-image: url(../assets/thridContainerCards/phonebg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-games-section .games-card-container .topCards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.our-games-section .games-card-container .topCards .decription {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgba(220, 20, 60, 0.272);
}
.our-games-section .games-card-container .topCards .decription .header-card-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
.our-games-section .games-card-container .topCards .decription .header-card-container img {
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(220, 20, 60, 0.346);
  border: 4px solid white;
}
.our-games-section .games-card-container .topCards .decription .pCotnainer p {
  font-family: "Suez One", serif;
  font-weight: 200;
}
.our-games-section .games-card-container .bottCards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.our-games-section .games-card-container .bottCards .decription {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgba(220, 20, 60, 0.272);
}
.our-games-section .games-card-container .bottCards .decription .header-card-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
.our-games-section .games-card-container .bottCards .decription .header-card-container img {
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(220, 20, 60, 0.346);
  border: 4px solid white;
}
.our-games-section .games-card-container .bottCards .decription .pCotnainer p {
  font-family: "Suez One", serif;
  font-weight: 200;
}
.our-games-section .games-card-container .bottCards .cute {
  width: 400px;
  height: 400px;
  background: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../assets/thridContainerCards/cute.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 1s;
  opacity: 0;
  transform: translateX(200px);
}

.fixedsection1 {
  width: 100%;
  height: 700px;
  background-image: url(../assets/fourCotnainer/dragon.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.fixedsection1 .fixedone {
  width: 750px;
  height: 700px;
  color: white;
  padding-top: 100px;
}
.fixedsection1 .fixedone h2 {
  font-size: large;
  font-family: "Open Sans", sans-serif;
}
.fixedsection1 .fixedone h1 {
  font-size: 50px;
  font-family: "Suez One", serif;
}
.fixedsection1 .fixedone button {
  background-color: #fcff72;
  width: 150px;
  height: 60px;
  font-size: large;
  color: black;
  font-family: "Suez One", serif;
  border-radius: 15px;
  border: none;
  outline: none;
  font-weight: 100;
}
.fixedsection1 .fixedtwo {
  width: 700px;
  height: 700px;
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
  overflow: hidden;
}

.skySection {
  width: 100%;
  height: 600px;
  background-image: url(../assets/fourCotnainer/sky.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.skySection .inputsContainer {
  width: 440px;
  height: 720px;
  background-color: white;
  border-radius: 20px;
  transform: translateY(-250px);
  padding: 40px;
  color: rgb(39, 36, 67);
  font-family: "Suez One", serif;
  font-weight: 200;
}
.skySection .inputsContainer h1 {
  font-size: 30px;
}
.skySection .inputsContainer h3 {
  font-size: 20px;
}
.skySection .inputsContainer form {
  height: 500px;
  width: 100%;
}
.skySection .inputsContainer form .nameInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 500px;
}
.skySection .inputsContainer form .nameInputs input {
  width: 100%;
  padding: 10px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
}
.skySection .inputsContainer form .nameInputs button {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: rgb(39, 36, 67);
  color: white;
  font-family: "Suez One", serif;
  font-weight: 200;
  font-size: x-large;
  transition: 0.4s;
  cursor: pointer;
}
.skySection .inputsContainer form .nameInputs button:hover {
  background-color: rgb(218, 57, 43);
}
.skySection .inputsContainer form .nameInputs textarea {
  width: 100%;
  height: auto;
  padding: 10px;
  outline: none;
  border: 1px solid black;
  resize: none;
}
.skySection .subscribeContainer {
  width: 388px;
  border-radius: 10px;
  height: 210px;
  background-color: rgb(218, 57, 43);
  display: flex;
  flex-direction: column;
  padding: 25px;
  color: white;
  justify-content: space-evenly;
  font-family: "Suez One", serif;
}
.skySection .subscribeContainer h1 {
  font-size: x-large;
}
.skySection .subscribeContainer input {
  width: 238px;
  height: 60px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  padding: 10px;
}
.skySection .subscribeContainer button {
  width: 70px;
  height: 60px;
  border: none;
  outline: none;
  background-color: #fcff72;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}
.skySection .subscribeContainer button:hover {
  background-color: white;
}

#happy {
  transform: translateY(400px);
  opacity: 0;
  transition: 1s;
}

.footer-container {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Suez One", serif;
  font-weight: 100;
  background-color: rgb(232, 232, 232);
  color: rgb(39, 36, 67);
}
.footer-container .footerHeader {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.footer-container .footerHeader .footerHome {
  width: 166px;
  height: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(218, 57, 43);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kaushan Script", cursive;
  font-size: x-large;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.footer-container .footerHeader h1 {
  font-family: "Suez One", serif;
  color: rgb(39, 36, 67);
  font-weight: 100;
}
.footer-container .footercontent {
  width: 80%;
  height: 400px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.footer-container .footercontent .footercard {
  width: 300px;
  height: 300px;
  padding: 20px;
}
.footer-container .footercontent .footercard h3 a {
  text-decoration: none;
  color: rgb(218, 57, 43);
}
.footer-container .footercontent .findus {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer-container .footercontent .findus img {
  width: 150px;
}
.footer-container .copy {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1590px) {
  body {
    zoom: 75%;
  }
}
@media screen and (max-width: 1187px) {
  .secondSectionContainer {
    flex-wrap: wrap;
    height: auto;
  }
  .secondSection {
    height: auto;
  }
  .card {
    margin-top: 10px;
  }
  .our-games-section {
    width: 100% !important;
  }
  .topCards {
    width: 100% !important;
  }
  .bottCards {
    width: 100% !important;
  }
  .games-card-container {
    width: 100% !important;
  }
  .our-games-section {
    width: 100% !important;
  }
}
@media screen and (max-width: 674px) {
  .abouttextContant {
    width: 500px !important;
  }
  .abouttextContant h1 {
    font-size: 40px !important;
  }
  .picContainer {
    width: 500px !important;
  }
}
@media screen and (max-width: 528px) {
  .aboutSection {
    padding: 0;
    width: 100%;
  }
  .aboutSection .picContainer {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 !important;
  }
  .aboutSection .picContainer .stickerMain {
    width: 100% !important;
  }
}
@media screen and (max-width: 712px) {
  .footer-container {
    display: flex !important;
    flex-wrap: wrap !important;
  }
}
@media screen and (max-width: 640px) {
  .navbar-links {
    display: none !important;
  }
}
@media screen and (max-width: 1140px) {
  .fixedone {
    width: 100%;
    padding: 15px;
  }
  .fixedone h1 {
    font-size: xx-large !important;
  }
}
@media screen and (max-width: 772px) {
  .fixedtwo {
    display: none !important;
  }
}
@media screen and (max-width: 648px) {
  .skySection {
    flex-direction: column !important;
    height: auto;
    justify-content: center !important;
    align-items: center !important;
  }
  .skySection .subscribeContainer {
    transform: translateY(-150px);
  }
}
@media screen and (max-width: 706px) {
  .footer-container {
    height: auto !important;
    display: flex;
    flex-direction: column !important;
  }
  .footer-container .footercontent {
    width: 100% !important;
    flex-wrap: wrap !important;
    height: auto !important;
  }
}
@media screen and (max-width: 384px) {
  .abouttextContant {
    padding: 20px !important;
  }
}
@media screen and (max-width: 604px) {
  .topCards {
    flex-direction: column !important;
    height: auto !important;
  }
  .bottCards {
    align-items: center !important;
    justify-content: center !important;
    height: auto !important;
  }
  .bottCards .cute {
    display: none !important;
  }
  .decription {
    margin-top: 10px !important;
  }
}
@media screen and (max-width: 410px) {
  .copy h2 {
    font-size: large !important;
  }
}
@media screen and (max-width: 470px) {
  .navbar-container {
    width: 100% !important;
    justify-content: space-between !important;
    padding: 0 20px !important;
  }
  .fixedone {
    width: 100% !important;
  }
  .abouttextContant {
    width: 100% !important;
  }
}
@media screen and (max-width: 350px) {
  .main-content-container h1 {
    font-size: 52px !important;
  }
  .inputsContainer {
    width: 90% !important;
  }
  .subscribeContainer {
    width: 95% !important;
    padding: 10px 5px !important;
  }
  .copy h2 {
    font-size: 15px !important;
  }
  .findus {
    padding: 0 15px !important;
  }
}
@media screen and (max-width: 308px) {
  .card {
    zoom: 80% !important;
  }
}
@media screen and (max-width: 336px) {
  .sticker {
    transform: translateY(-100px) !important;
    zoom: 60% !important;
  }
}
.kiponFirstSection {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.kiponFirstSection .mainCotnanetkipon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.kiponFirstSection .mainCotnanetkipon .kiponMainCard {
  width: 672px;
  height: 555px;
  background-color: white;
  transform: translateY(0px) translateX(0px);
  border-radius: 15px;
  padding: 50px;
  animation: maincard 2s forwards;
  opacity: 0;
}
@keyframes maincard {
  100% {
    transform: translateY(150px) translateX(80px);
    opacity: 1;
  }
}
.kiponFirstSection .mainCotnanetkipon .kiponMainCard .header-card-container {
  flex-direction: row;
  display: flex;
}
.kiponFirstSection .mainCotnanetkipon .kiponMainCard .header-card-container img {
  border-radius: 15px;
  border: 5px solid white;
  box-shadow: 0xp 5px 10px crimson;
}
.kiponFirstSection .mainCotnanetkipon .kiponMainCard .header-card-container .logotitles {
  color: rgb(39, 36, 67);
  font-family: "Suez One", serif;
}
.kiponFirstSection .mainCotnanetkipon .kiponMainCard h1 {
  font-size: 50px;
  font-family: "Suez One", serif;
  color: rgb(39, 36, 67);
  font-weight: 100;
}
.kiponFirstSection .mainCotnanetkipon .kiponMainCard p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: rgb(39, 36, 67);
}

.fixedKiponSection {
  background-image: url(../assets/kiponFullpage/kiponBG.jpg);
  width: 100%;
  height: 700px;
  background-attachment: fixed;
  background-position: center 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixedKiponSectionrobo {
  background-image: url(../assets/robotnixfull/robofixed.jpg);
  width: 100%;
  height: 700px;
  background-attachment: fixed;
  background-position: center -50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixedKiponSectiontreasure {
  background-image: url(../assets/treasure/treasurefixed.jpg);
  width: 100%;
  height: 700px;
  background-attachment: fixed;
  background-position: center -50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.kiponCardsSection {
  width: 100%;
  height: 700px;
  padding: 100px;
}
.kiponCardsSection h1 {
  color: rgb(39, 36, 67);
  font-family: "Suez One", serif;
  font-size: 50px;
  font-weight: 100;
}
.kiponCardsSection .cards-container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.kiponCardsSection .cards-container .card1kiponscreens {
  width: 807px;
  height: 485px;
  border-radius: 40px;
  overflow: hidden;
  z-index: 100 !important;
  transition: 0.4s;
}
.kiponCardsSection .cards-container .card1kiponscreens img {
  transition: 0.4s;
}
.kiponCardsSection .cards-container .card1kiponscreens:hover img {
  transform: scale(110%);
}

.testimonialsKiponSection {
  width: 100%;
  height: 800px;
  padding: 100px;
  display: flex;
  align-items: cneter;
  justify-content: space-between;
  flex-direction: column;
}
.testimonialsKiponSection .revmain {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.testimonialsKiponSection .revmain h1 {
  font-size: 50px;
  color: rgb(39, 36, 67);
  font-family: "Suez One", serif;
  margin-left: 40px;
}
.testimonialsKiponSection .revmain .reviews {
  width: 250px;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.testimonialsKiponSection .revmain .reviews .ratingstarred {
  width: 180px;
  height: 50px;
  background-color: rgb(218, 57, 43);
  border-radius: 50px;
}
.testimonialsKiponSection .revmain .reviews .ratingstarred .ratingnumberandstar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.testimonialsKiponSection .revmain .reviews .ratingstarred .ratingnumberandstar .stardiv {
  color: white;
}
.testimonialsKiponSection .revmain .reviews .ratingstarred .ratingnumberandstar .div41 {
  background: white;
  border-radius: 50px;
  width: 60%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
.testimonialsKiponSection .testimonalparacontainer {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.testimonialsKiponSection .testimonalparacontainer .testimonialcards {
  width: 600px;
  height: 400px;
  border: 1px solid black;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonialsKiponSection .testimonalparacontainer .testimonialcards p {
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  color: rgb(39, 36, 67);
  font-weight: 500;
}
.testimonialsKiponSection .testimonalparacontainer .testimonialcards h3 {
  font-family: "Suez One", serif;
  color: rgb(39, 36, 67);
  font-size: x-large;
}

.fixedsection2kipon {
  width: 100%;
  height: 700px;
  background-image: url(../assets/kiponFullpage/fixedbackground.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fixedsection2kipon .absolutered {
  position: absolute;
  top: 0;
  width: 100%;
  height: 700px;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(220, 20, 60, 0.7058823529) 70%);
}
.fixedsection2kipon h1 {
  font-family: "Suez One", serif;
  font-size: 50px;
  color: white;
  text-align: center;
  z-index: 123;
}
.fixedsection2kipon p {
  font-family: "Open Sans", sans-serif;
  font-size: large;
  color: white;
  z-index: 123;
  text-align: center;
}

.fixedsection3kipon {
  width: 100%;
  height: 700px;
  background-image: url(../assets/treasure/fixed2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fixedsection3kipon .absolutered {
  position: absolute;
  top: 0;
  width: 100%;
  height: 700px;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(220, 20, 60, 0.7058823529) 70%);
}
.fixedsection3kipon h1 {
  font-family: "Suez One", serif;
  font-size: 50px;
  color: white;
  text-align: center;
  z-index: 123;
}
.fixedsection3kipon p {
  font-family: "Open Sans", sans-serif;
  font-size: large;
  color: white;
  z-index: 123;
  text-align: center;
}

.robosection2fixed {
  width: 100%;
  height: 700px;
  background-image: url(../assets/robotnixfull/fixed2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.robosection2fixed .absolutered {
  position: absolute;
  top: 0;
  width: 100%;
  height: 700px;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(220, 20, 60, 0.7058823529) 70%);
}
.robosection2fixed h1 {
  font-family: "Suez One", serif;
  font-size: 50px;
  color: white;
  text-align: center;
  z-index: 123;
}
.robosection2fixed p {
  font-family: "Open Sans", sans-serif;
  font-size: large;
  color: white;
  z-index: 123;
  text-align: center;
}

.playnowsection {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}
.playnowsection .playnowContainer {
  width: 550px;
  height: 200px;
  text-align: center;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 0px 1px rgb(218, 57, 43);
}
.playnowsection .playnowContainer h1 {
  font-size: 50px;
  font-family: "Suez One", serif;
  color: rgb(39, 36, 67);
}

@media screen and (max-width: 1276px) {
  .kiponCardsSection {
    height: auto;
  }
  .kiponCardsSection .cards-container {
    flex-direction: column !important;
    height: auto !important;
  }
  .card1kiponscreens {
    height: auto !important;
  }
}
@media screen and (max-width: 946px) {
  .revmain {
    justify-content: center !important;
    align-items: center !important;
  }
  .testimonalparacontainer {
    flex-direction: column !important;
    height: auto !important;
  }
  .testimonialsKiponSection {
    height: auto !important;
  }
}
@media screen and (max-width: 624px) {
  .mainCotnanetkipon {
    justify-content: center !important;
    align-items: center !important;
  }
  .mainCotnanetkipon .kiponMainCard {
    transform: translateX(0px) translateY(100px) !important;
  }
  .kiponCardsSection {
    padding: 20px !important;
  }
  .kiponCardsSection .card1kiponscreens {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
  }
  .kiponCardsSection .card1kiponscreens .cardimageskipon {
    width: 100% !important;
  }
}
@media screen and (max-width: 509px) {
  .kiponMainCard {
    zoom: 90%;
  }
}
@media screen and (max-width: 595px) {
  .fixedsection2kipon h1 {
    font-size: 30px !important;
    padding: 5px !important;
  }
  .fixedsection2kipon p {
    font-size: 15px !important;
    padding: 5px !important;
  }
}
@media screen and (max-width: 462px) {
  .kiponMainCard {
    zoom: 80%;
  }
  .testimonialsKiponSection {
    padding: 30px !important;
  }
  .testimonialsKiponSection .testimonialcards {
    width: 100% !important;
  }
}
@media screen and (max-width: 415px) {
  .playnowContainer {
    width: 90% !important;
  }
  .kiponMainCard {
    zoom: 70% !important;
  }
}
@media screen and (max-width: 361px) {
  .kiponMainCard {
    zoom: 60% !important;
    transform: translateY(400px) translateX(0px) !important;
  }
}
@media screen and (max-width: 327px) {
  .revmain {
    flex-direction: column !important;
    display: flex !important;
    height: auto !important;
  }
  .revmain h1 {
    margin: 0 !important;
  }
}
@media screen and (max-width: 315px) {
  .testimonialcards p {
    font-size: 14px !important;
  }
  .kiponMainCard {
    zoom: 60% !important;
  }
}/*# sourceMappingURL=style.css.map */